@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

:root {
    /* Header */
    --header-height: 4rem;
    /* Colors */
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    /* Font */
    --font-robot: 'Roboto', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-openSans: 'Open Sans', sans-serif;

    /* Font Size */
    --font-biggest: 2.5rem;
    --font-h1: 2rem;
    --font-h2: 1.5rem;
    --font-h3: 1.25rem;
    --font-regular: 1rem;
    --font-small: .987rem;
    --font-verySmall: .876rem;

    /* Font weight */
    --weight-normal: 500;
    --weight-regular: 600;
    --weight-bold: 700;

    /* z-index */
    --index-normal: 10;
    --index-medium: 50;
    --index-fixed: 100;
}

@media (min-width: 1152px) {
    :root {
        --biggest-font-size: 3rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* CSS reset */
* {
    padding: 0;
    margin: 0
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--font-regular);
    background: var(--white);
    color: var(--dark);
    line-height: 1.5;
    font-weight: var(--weight-normal);
    font-family: --font-openSans;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-poppins);
    font-weight: var(--weight-regular);
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

p {
    font-family: var(--font-robot);
    font-size: var(--font-regular);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    font-family: inherit;
}

li {
    list-style: none;
}

button,
input {
    border: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
}

::-webkit-scrollbar-track {
    background: var(--white);
}

/* Reusable class */
.container {
    max-width: 1190px;
    margin-inline: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.title {
    text-align: center;
    font-size: var(--font-h1);
    font-weight: var(--weight-regular);
    color: var(--indigo);
    margin-bottom: 1rem;
}

.main {
    overflow: hidden;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.shadow {
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
}

/* ==================================
    Header Section Starts
======================================*/

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: var(--index-fixed);
    background: #fff;
    width: 100%;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: var(--primary);
    font-family: var(--font-openSans);
    font-weight: var(--weight-normal);
    font-size: var(--font-h3);
}

.menuBtn,
.closeBtn {
    display: flex;
    justify-content: center;
    font-size: var(--font-h2);
    cursor: pointer;
    color: var(--dark);
}

/* ==================================
    Nav Bar Mobile Responsive
======================================*/
@media (max-width: 1023px) {
    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        background: var(--white);
        width: 100%;
        padding-block: 4rem;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        transition: top .5s ease;
    }

    .nav-menu.active {
        top: 0;
    }

    .nav-list {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
    }

    .nav-link {
        color: var(--dark);
        font-family: var(--font-poppins);
        font-weight: var(--weight-normal);
    }

    .social-links {
        display: flex;
        justify-content: center;
        column-gap: 1rem;
    }

    .social-link {
        font-size: var(--font-h1);
        color: var(--primary);
        background: transparent;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closeBtn {
        position: absolute;
        top: 30px;
        right: 20px;
    }
}

/* ============================
    Hero Section Start
==================================*/
.hero {
    background: transparent;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.hero-data {
    text-align: center;
}

.hero-subHeading {
    font-size: var(--font-small);
}

.hero-heading {
    color: var(--primary);
    font-weight: var(--weight-normal);
    padding: 1.5rem 0;
}

.here-para {
    color: var(--gray-dark);
}

/* ============================
    Feature Section Start
==================================*/

.feature-para {
    text-align: center;
    font-size: var(--font-verySmall);
    color: var(--gray);
}

.feature-box {
    text-align: center;
    padding: 4rem 2rem;
    border-radius: 20px;
}

.feature-boxs {
    padding: 20px 0;
}

.feature-link {
    font-size: var(--font-biggest);
    color: var(--primary);
}

.feature-heading {
    font-size: var(--font-h3);
    font-weight: 300;
    margin: 7px 0;
    color: var(--indigo);
}

/* ==============================
     About Section
==================================*/

.about-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-data .title {
    font-size: var(--font-h2);
}

.about-sub-title {
    font-size: var(--font-small);
    padding: 20px 0;
    font-weight: 300;
    color: var(--gray);
}

.about-para {
    color: var(--gray);
    font-size: var(--font-small);
    font-weight: 400;
}

/* ===========================
           Product section
==============================*/
.product-boxs {
    padding: 20px 0;
}

.product-box {
    border-radius: 20px 0;
    padding: 1rem 2rem;
}

.product-up {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product-heading {
    font-size: var(--font-verysmall);
    font-weight: 300;
    color: var(--purple);
}

.product-para {
    font-size: var(--font-verySmall);
    color: var(--gray);
    padding: 10px 0;
    font-weight: 300;
}

/* ==================================
       Event Section
=======================================*/
.event-box {
    padding: 1rem .7rem;
    border-radius: 20px;
}

.image {
    overflow: hidden;
    border-radius: 20px;
}

.event-box img {
    transform: scale(1);
    transition: transform 5s ease;
}

.event-box img:hover {
    transform: scale(1.1);
}

.event-box span {
    color: var(--gray);
}

.event-box h4 {
    color: var(--purple);
    font-weight: 400;
}

.event-box p {
    color: var(--purple);
    font-weight: 300;
    padding: 10px 0;
}

.event-box a {
    color: var(--primary);
    font-size: var(--font-small);
}

/* ==============
   Team Section
==================*/

.team-box {
    text-align: center;
    padding: 1rem .5rem;
    border-radius: 10px;
}

.team-box img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.name {
    color: var(--purple);
}

.proffesion {
    color: var(--gray);
}

.team-arrow {
    margin: 50px 0;
}

.team-arrow a {
    background: var(--white);
    padding: 2rem;
    border-radius: 50%;
    font-size: var(--font-h1);
    color: var(--primary);
}

/*=========================================
             FAQ Section 
=========================================*/
.faqCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1rem;
    border-radius: 30px;
    cursor: pointer;
    z-index: var(--index-medium);
}

.arrow {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.arrow i {
    font-size: var(--font-h1);
    color: var(--dark);
}

.faqContant {
    display: none;
    transition: all 1s ease-in-out;
}

.faqContant.active {
    /* opacity: 1; */
    display: block;
}

.faqContant p {
    color: var(--gray);
    font-weight: var(--weight-normal);
}

@media (min-width: 500px) {
    .hero-heading {
        font-size: var(--font-biggest);
    }
}

@media (min-width: 768px) {

    .hero-data,
    .about-data .title,
    .about-data {
        text-align: left;
    }

    .about-data {
        display: block;
    }

    .event-boxs,
    .product-boxs,
    .feature-boxs {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }
}

@media (min-width: 1020px) {
    .container{
        margin: 0 auto;
        padding: 0 3rem;
    }
    .menuBtn,
    .closeBtn {
        display: none;
    }
    .nav-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .nav{
        height: calc( var(--header-height) + 2rem);
    }
    .nav-link{
        position: relative;
        font-size: var(--font-h3);
        color: var(--gray-dark);
    }
    .nav-link::before{
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background: var(--dark);
        transition: width.3s ease-in;
    }
    .nav-link:hover::before{
        width: 100%;
    }
    .social-link{
        color: var(--dark);
        font-size: var(--font-h1);
        border-radius: 50%;
        background: #fff;
        padding: 1rem;
        margin-left: 10px;
    }
    .product-boxs,
    .feature-boxs {
        grid-template-columns: repeat(3, 1fr);
    }
    .hero-data,.about-data{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 3rem;
    }
    .hero-data div,.about-data div{
        border-right: 7px solid var(--primary);
        padding: 0 1rem 0 0;
    }
    .hero-data p,.about-data p{
        font-size: var(--font-h3);
        font-weight: 300;
    }
}